.TaskManager {
  padding: 3px;

  .SelectBox {
    height: 100px;
    width: initial;
    margin: 4px;
    flex-grow: 1;
  }

  &__buttons {
    display: flex;
    align-items: center;
    padding-right: 4px;
    padding-left: 4px;

    .btn:first-child {
      margin-left: auto;
    }
    .btn {
      margin-left: 4px;
      margin-bottom: 8px;
      width: 60px;
    }
  }
}

.TaskBar__notifications__time {
  font-weight: normal !important;
  font-family: "MS Sans Serif", "Segoe UI", sans-serif !important;
  font-size: 12px !important;
  -webkit-font-smoothing: none !important;
  -moz-osx-font-smoothing: grayscale !important;
}