@import "../../../node_modules/packard-belle/src/_scss/w98/mixins/box-shadows.scss";

@font-face {
  font-family: pixelmix;
  src: url("../../assets/pixelmix.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: FixedSys;
  src: url("../../assets/FixedsysStripped.woff2") format("woff2");
}

.Doom {
  input {
    filter: opacity(0%);
    position: absolute;
    left: -2000px;
  }

  &.Window:after {
    content: none;
  }

  .IframeWindow {
    >div:not(.Window__heading) {
      width: 100%;
      height: calc(100% - 10px);
    }

    iframe {
      border: none;
      width: 100%;
      height: calc(100% - 6px);
    }

    &--alert.WindowAlert {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 8;
    }
  }
}

.react-draggable-dragging {
  .IframeWindow {

    >div,
    iframe {
      pointer-events: none;
    }
  }
}

/* === Mobile Controls === */
.ASCIIMaze-controls {
  display: none; // default hidden
  background-color: #bbc3c4;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px; // pushes it lower
    padding-bottom: 3px;

    .row {
      display: flex;
      justify-content: center;
      margin-bottom: 2px;

      button {
        font-size: 10px; // was 12px
        width: 27px; // was 36px
        height: 24px; // was 32px
        margin: 0 2px; // tighter spacing

        &:active {
          background-color: #c0c0c0;
        }
      }
    }
  }
}