@media (max-width: 768px) {
  .react-draggable-maximized-hack {
    height: calc(100% - 28px) !important;
    width: 100% !important;
    top: 1.2px !important;
    left: 0.3px !important;
    transform: none !important;
  }
}

.react-draggable {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}

.react-resizable-handle {
  height: 15px;
  width: 15px;
  z-index: 1;
  position: absolute;
}

/* Added for drag state */
.react-draggable-dragging {
  .window-content {
    pointer-events: none;
    user-select: none;
  }

  .Window__title {
    cursor: grabbing;
  }
}

.Window__title {
  cursor: grab;
}

.WindowExplorer {
  width: 100%;
  height: 100%;

  &:not(.Window--active) {
    filter: grayscale(100%);
  }
}

.Window {
  &:not(.Window--active) .Window__heading {
    background: none;
    background-color: #808088;
  }

  /* Added for content freezing during drag */
  &--active .window-content {
    transition: none;
  }
}
