/* Styles for the video player */
.videoTag {
  width: 100%;
  padding: var(--r95-space-2);
}

.videoTag.visible {
  display: block;
}

.videoTag.hidden {
  display: none;
}

.controls {
  display: flex;
  align-items: center;
  padding-top: var(--r95-space-2);
  padding-bottom: var(--r95-space-2);
}

.countDownContainer {
  display: flex;
  padding: var(--r95-space-6);
  margin-bottom: var(--r95-space-4);
  box-shadow: var(--r95-shadow-in);
  background-color: var(--r95-color-canvas);
  height: 50px;
  color: var(--r95-color-canvasText);
}

.videoFont {
  font-family: React95Video-Numbers;
  text-transform: uppercase;
}

.currentTime {
  margin-top: auto;
  font-size: 22px;
}

.elapsedTime {
  height: var(--r95-space-12);
}

.divider {
  display: block;
  height: var(--r95-space-1);
  border-top-style: solid;
  border-top-width: var(--r95-space-1);
  border-top-color: var(--r95-color-borderDark);
  border-bottom-width: var(--r95-space-1);
  border-bottom-style: solid;
  border-bottom-color: var(--r95-color-borderLightest);
  margin-bottom: var(--r95-space-2);
}

.controlBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--r95-space-20);
  height: var(--r95-space-20);
  padding: var(--r95-space-7);
}

.controlBtn:active,
.controlBtn:focus {
  width: var(--r95-space-20);
  height: var(--r95-space-20);
  padding: var(--r95-space-7);
}

.controlBtn:disabled {
  padding: var(--r95-space-4);
}

.controlBtn svg {
  fill: var(--r95-color-materialText);
}

.controlBtn:disabled svg {
  fill: var(--r95-color-borderDark);
  border-bottom-width: var(--r95-space-1);
  border-bottom-style: solid;
  border-bottom-color: var(--r95-color-borderLightest);
  border-right-width: var(--r95-space-1);
  border-right-style: solid;
  border-right-color: var(--r95-color-borderLightest);
}

.range::-webkit-slider-thumb {
  height: var(--r95-space-18);
  margin-top: calc(var(--r95-space-7) * -1);
  width: var(--r95-space-10);
}

.range[value='0']::-webkit-slider-thumb {
  margin-left: calc(var(--r95-space-2) * -1);
}
