  @import "../../../node_modules/packard-belle/src/_scss/w98/mixins/box-shadows.scss";

/* Import custom fonts for Windows 95 style text */
  @font-face {
    font-family: pixelmix;
    src: url("../../assets/pixelmix.woff2") format("woff2");
    font-weight: normal;
  }

  @font-face {
    font-family: FixedSys;
    src: url("../../assets/FixedsysStripped.woff2") format("woff2");
  }

.video98-player {
  width: 350px;
  margin: 20px auto;

  video {
    width: 100%;
  }

  media-control-bar {
    display: flex;
    flex-wrap: wrap;
  }
}